.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;

}

.list {
    width: 100%;
    padding: 0 8px;
    margin-bottom: 32px;
}

.list h3 {
    margin-left: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    height: calc(100% - 52px);
    background: #fff;
    border-radius: 4px;
    transition: 300ms;
    padding: 16px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.07), 0 1px 5px 0 rgba(0,0,0,.06);
}

.card:hover {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.1), 0 6px 10px 0 rgba(0,0,0,.07), 0 1px 18px 0 rgba(0,0,0,.06);
}

.card a {
    margin-top: 8px;
    font-size: 16px;
    line-height: 22px;
}

.card a:first-child {
    margin-top: 0;
}

.card p {
    font-size: 13px;
    line-height: 18px;
    color: #666666;
}

.card p:last-child {
    margin-bottom: 0;
}

.back-link {
    display: inline-block;
    width: 100%;
    margin-top: 16px;
    padding: 8px 16px;
    background: #cccccc;
    font-size: 12px;
    line-height: 16px;
    border-radius: 4px;
}